extends layout
block headerScripts
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
    script
        |var map;
        |function initialize() {
        |  var mapOptions = {
        |   zoom: 13,
        |    center: new google.maps.LatLng(#{model.from.x}, #{model.from.y})
        | };
        |  map = new google.maps.Map(document.getElementById('map-canvas'),
        |      mapOptions);
        |}
        |google.maps.event.addDomListener(window, 'load', initialize);
block content
    div#map-canvas
