doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Car Assistant
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
        script(src='/javascripts/modernizr-2.6.2.js')
        script(src='/javascripts/jquery-2.1.3.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/respond.min.js')
        block headerScripts
        block styles
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Car Assistant
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/fuelStation') Nearest Fuel Station
                        li
                            a(href='/settings') Settings
        .container.body-content
            block content
        block bodyScripts
